.team-col{
    flex-basis: 25%;
    background: #dddada;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition : 0.5s;
    margin-right: 10px;
    margin-left: 10px;
}

.team-col h1{
    font-size: 36px;
    font-weight: 600;
}

.team-col img{
    height: 273px;
}

.team-col:hover{
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    cursor: pointer;
}


@media (max-width: 700px){
    .team-row{
        flex-direction: column;
    }
    .team-col h1{
        font-size: 20px;
        font-weight: 600;
    }
}