.team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.team h1{
    font-size: 36px;
    font-weight: 600;
}


.team-row{
    margin-top:5%;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}



@media (max-width: 700px){
    .team-row{
        flex-direction: column;
    }
    .team h1{
        font-size: 20px;
        font-weight: 600;
    }
    
}