.work-col {
  flex-basis: 31%;
  background: rgb(221, 218, 218);
  border-radius: 10px;
  margin: 20px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.work-col h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.work-col:hover {
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
}

@media (max-width: 700px) {
  .work-row {
    flex-direction: column;
  }
  .work-col h1 {
    font-size: 20px;
    font-weight: 600;
  }
}
