.slider-edit{
    margin-top: 1px;
}
.margin-top{
    margin-top: 100px;
    margin-bottom: 130px;
    background-image: linear-gradient(to right, #BD4733, #A24B4A,#864E60,#6B5277,#50568D,#3459A4,#195DBA);
}